# API Keys and Secrets
.env
.streamlit/secrets.toml

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/
.venv/
env/
.env/

# App Data
faiss_index_scientific_papers/
chat_history.json
hf_cache/

# Misc
.DS_Store
test_invoke.py
